.App {
  text-align: center;
}

.App-header {

  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.home-page {
  background: url(images/jobsearch-bg.jpg) no-repeat center center fixed;
  height: 85vh;
  background-size: cover;
}

.main-header {
  background: url(images/jobsearch-header.jpg) center;
  background-size: contain;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

form a {
  margin-left: 5px
}

a {
  margin-left: 5px
}

.col-sm-4 {
  margin-bottom: 18px;
}

.card-body {
  margin-top: 15px;
  padding: 10px;
  text-align: center;
}

.card-header {
  text-align: center;
  text-shadow: 1px 1px #00ccff;
  font-size: 1.5em;
}

.index-div {
  margin-top: 30px
}

.card {
  height: 15em
}

.form-header {
  text-align: center;
  text-shadow: 1px 1px #00ccff;
  font-size: 2em;
}

.type-items button{
  font-size: 20px;
  padding: 10px;

}
.type-description{
  font-size: 1em;
}
